<?xml version="1.0"?>
<config>
    <modules>
        <tu-berlin_helloworld>
            <version>0.0.1.0</version>
        </tu-berlin_helloworld>
    </modules>

    <frontend>
        <layout>
            <updates>
                <tu-berlin_helloworld>
                    <file>helloworld.xml</file>
                </tu-berlin_helloworld>
            </updates>
        </layout>
        <!-- secure_url>
            <helloworld_foo>/helloworld/foo</helloworld_foo>
        </secure_url -->
        <routers>
            <!-- Das <helloworld>-Tag scheint willkuerlich gewaehlt zu
            sein, aber es soll mit dem Wert des Tags <frontName>
            uebereinstimmen -->
            <tu-berlin_helloworld>
                <use>standard</use>
                <args>
                    <module>Tuberlin_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </tu-berlin_helloworld>
        </routers>

    </frontend>

</config>